// .content {
//     display: flex;
//     // margin: 82px auto 32px;
//     padding: 20px 20px;
//     width: 100%;
//     // max-width: 960px;
//     flex-direction: column;
//     align-items: center;
//   }

//   .component-container{
//     border: 1px solid rgb(199, 199, 199);
//     border-radius: 4px;
//   }

// .card {
//     all: unset;
//     border-radius: 4px;
//     border: 1px solid #eee;
//     // background-color: #fafafa;
//     // height: 40px;
//     // width: 100%;
//     // margin: 0 8px 16px;
//     // padding: 16px;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     // transition: all 0.2s ease-in-out;
//     line-height: 24px;
//   }

//   .header{
//     background-color: #e9e9e9;
//     height: 60px;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-around;
//     align-items: center;
//     width: 100%;
//   }

//   .header .title{
//     flex-grow: 1;
//     font-size: large;
//     font-weight: 500;
//     padding-left: 20px;
//   }

//   .header .actions{
//     padding-right: 20px;
//     display: flex;
//     width: 100px;
//     justify-content: flex-end;
//   }

//   .header .actions .action{
//     margin-left: 10px;    
//   }


//   .product {
//     background-color: #fafafa;
//     width: calc(100% - 20px);
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: flex-start;
//     margin: 10px 0;
//     height: 50px;
//   }

//   .product svg{
//     width: 100px;
//   }

//   .product .id{
//     width: 30px;
//     padding: 10px;
//   }

//   .product .id::before{
//     content:"[";
//   }
//   .product .id::after{
//     content:"]";
//   }

//   .highlight{
//     padding: 1rem;
//     margin-top: 1rem;
//     margin-bottom: 1rem;
//     background-color: #f7f7f9;
//     -ms-overflow-style: -ms-autohiding-scrollbar;
//   }

//   .actions .hidden{
//     display: none;
//   }
 
