<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .highlight {
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #f7f7f9;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover,
  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }

  .content {
    /* display: flex; */
    margin: 82px auto 32px;
    padding: 0 16px;
    width: 100%;
    max-width: 960px;
    flex-direction: column;
    /* align-items: center; */
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }


  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }



  /* Responsive Styles */
  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
  <span>Qualco Angular Multi Component</span>
  <div class="spacer"></div>

</div>
<pre>

</pre>
<div class="content" role="main">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" [class.active]="page==0" (click)="page=0" aria-current="page">Component
        Design Document</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="page==1" (click)="page=1">Sample</a>
    </li>
  </ul>

  <!-------------------------------------------------->
  <!------------------ Page 1 ------------------------>
  <!-------------------------------------------------->
  <div *ngIf="page==0">
    <h2>Multi-Purpose Angular Component</h2>
    <p>Ver. 1.0.0 - Aris brink - Initial Draft</p>
    <br><br>
    <h4>Overview</h4>
    We are required to create a versatile multi-purpose component in order to display various data derived from a WebApi
    backend service. All logic for data retrieval
    and parsing of that data should be handled inside this component and the user should be able to parameterize it
    using input
    parameters. The user should also be able to handle which
    data is visible and how the component is rendered. We would also like to have the capability to maintain and extent
    the
    component with ease, if the need arises in the future.
    <br>
    <br>
    <br>
    <h4>Component Design</h4>
    <br>
    <h6>UI/UX</h6>
    <p>The component will consist of two main parts. The <strong>Header section</strong> and the <strong>Content
        section</strong>. In the header section we will need to have a title and some action buttons that can be used to
      perform various tasks. For now we need two actions: ADD and EDIT.</p>
    <br>
    <p>
      The content section is where the different views of the component will be rendered.
      We would like our component to have two distinctive views in its first iteration, adaptable enough however to be
      able to add more in the future.</p>
    <br>
    <p>Our first view, will be the <strong>List View</strong>. Here our data will be rendered in sequence. Some
      parameterization might be needed for specific fields
      but the general idea will be to have a clean design that will be easy to adapt based on the component's user
      decisions.
      Each item in the list will render a dynamic ammount of elements in a row. The selection will be handled by the
      user.
      (see <i>hiddenFields</i>, <a href="#input-parameters"> Root Component Inputs</a>) The list should be scrollable of course and each
      item
      should be clickable in order for the component to be able to fetch its details from the backend service</p>
    <br>
    <p>
      Our second view will be the <strong>Details View</strong>. In this view, data will be rendered in the appearance
      of a form.
      For now we just need to display the data in a two columns formation but that can potentially change so we should
      anticipate
      that in our implementation. What fields will be displayed will be dynamic and will be handled by the user with the
      use of
      a component parameter, like in the List view. (see <i>hiddenFields</i>, <a href="#input-parameters">Root Component Inputs</a>)
    </p>
    <br>
    <br>
    <h5>Implementation</h5>
    <br>
    <h6 id="sample">Architecture Diagram</h6>
    <br>
    <div>
      <img src="./assets/component-architecture.png" alt="">
    </div>
    <h6 id="sample">Sample Use</h6>
    <div class="highlight">
      &lt;app&#45;multi&nbsp;<br>
      &nbsp;&nbsp;&nbsp;&nbsp;backendRoute = &quot;/customer/001&quot;&nbsp;<br>
      &nbsp;&nbsp;&nbsp;&nbsp;displayType = &quot;details&quot;&nbsp;<br>
      &nbsp;&nbsp;&nbsp;&nbsp;displayOption = &quot;column&#45;2&quot;<br>
      &nbsp;&nbsp;&nbsp;&nbsp;headerTitle = &quot;Customer&nbsp;Details&quot;&nbsp;<br>
      &nbsp;&nbsp;&nbsp;&nbsp;[actionAdd] = true&nbsp;<br>
      &nbsp;&nbsp;&nbsp;&nbsp;[actionEdit] = false&nbsp;<br>
      &nbsp;&nbsp;&nbsp;&nbsp;[hideDisabledActions] = true<br>
      &nbsp;&nbsp;&nbsp;&nbsp;[hiddenFields] = &quot;[&#39;id&#39;]&quot;&gt;<br>
      &lt;/app&#45;multi&gt;<br>
    </div>
<br>
    <h6 id="input-parameters">Root Component Inputs</h6>
    <div class="highlight">
      <div class="row">
        <div class="col-3"><strong>backendRoute</strong> :string</div>
        <div class="col-5">We use this parameter to instruct our component on how to retrieve our data.</div>
        <div class="col-4 text-center">Example: <br> "\products"</div>
      </div>
    </div>
    <div class="highlight">
      <div class="row">
        <div class="col-3"><strong>displayType</strong> :string</div>
        <div class="col-5">We use this parameter to instruct our component on how to render the retrieved data. For now
          our options will be <strong>list</strong> and <strong>details</strong></div>
        <div class="col-4 text-center">Valid options: <br> "list" / "details"</div>
      </div>
    </div>
    <div class="highlight">
      <div class="row">
        <div class="col-3"><strong>displayOption</strong> :string</div>
        <div class="col-5">We use this parameter in order to anticipate future iteretions with additional display
          options.
          For now the only valid option will be the default "column-2" for the <strong>Details</strong> view and the
          user
          should be able to ommit it.</div>
        <div class="col-4 text-center">Valid Option: <br> "column-2"</div>
      </div>
    </div>
    <div class="highlight">
      <div class="row">
        <div class="col-3"><strong>headerTitle</strong> :string</div>
        <div class="col-5">This is the parameter that defines the sting used in the header of the component.</div>
        <div class="col-4 text-center">Examples: <br> "Products List", "Customer"</div>
      </div>
    </div>
    <div class="highlight">
      <div class="row">
        <div class="col-3"><strong>hiddenFields</strong> :string[]</div>
        <div class="col-5">The user can use this array to filter out fields that they wish not to be
          rendered. It should be and array of <strong>DisplayItem.id</strong> strings. See more in
          the Models section [DisplayItem] in the diagram above, or the <a href="#api">API section</a> </div>
        <div class="col-4 text-center">Examples: <br> ['id','first','street']</div>
      </div>
    </div>
    <div class="highlight">
      <div class="row">
        <div class="col-3"><strong>actionEdit</strong> :boolean</div>
        <div class="col-5"> Will enable or disable the EDIT action of the component</div>
        <div class="col-4 text-center">Valid options: <br> true / false</div>
      </div>
    </div>
    <div class="highlight">
      <div class="row">
        <div class="col-3"><strong>actionAdd</strong> :boolean</div>
        <div class="col-5"> Will enable or disable the ADD action of the component</div>
        <div class="col-4 text-center">Valid options: <br> true / false</div>
      </div>
    </div>
    <div class="highlight">
      <div class="row">
        <div class="col-3"><strong>hideDisabledActions</strong> :boolean</div>
        <div class="col-5"> With this option we can instruct the component to render the disabled actions as inactive or
          hide them altogether.</div>
        <div class="col-4 text-center">Valid options: <br> true / false</div>
      </div>
    </div>
    <br>


    <h6 id="input-parameters">LayoutComponent Inputs</h6>
    <p>All layout child components (e.g. List/ View) extend this class.</p>
    <p>All inputs except <i>data</i> should be inherited from the root inputs.</p>
    <div class="highlight">
      <div class="row">
        <div class="col-3"><strong>data</strong> :DataItem[]</div>
        <div class="col-5">This is the parsed and filtered data that the layout component should render.</div>
        <div class="col-4 text-center">Example: <br> "\products"</div>
      </div>
    </div>
    <div class="highlight">
      <div class="row">
        <div class="col-3"><strong>displayOption</strong> :string</div>
        <div class="col-5">Inherited from root.</div>
        <div class="col-4 text-center">Valid Option: <br> "column-2"</div>
      </div>
    </div>
    <div class="highlight">
      <div class="row">
        <div class="col-3"><strong>headerTitle</strong> :string</div>
        <div class="col-5">Inherited from root.</div>
        <div class="col-4 text-center">Examples: <br> "Products List", "Customer"</div>
      </div>
    </div> 
    <div class="highlight">
      <div class="row">
        <div class="col-3"><strong>actionEdit</strong> :boolean</div>
        <div class="col-5">Inherited from root.</div>
        <div class="col-4 text-center">Valid options: <br> true / false</div>
      </div>
    </div>
    <div class="highlight">
      <div class="row">
        <div class="col-3"><strong>actionAdd</strong> :boolean</div>
        <div class="col-5">Inherited from root.</div>
        <div class="col-4 text-center">Valid options: <br> true / false</div>
      </div>
    </div>
    <div class="highlight">
      <div class="row">
        <div class="col-3"><strong>hideDisabledActions</strong> :boolean</div>
        <div class="col-5"> Inherited from root.</div>
        <div class="col-4 text-center">Valid options: <br> true / false</div>
      </div>
    </div>
    <br>

    <h4 id="api">API Explanation</h4>
    <p>Here is a brief explanation of the API that we will use and the schema of the data. This will help to understand
      how the data is structured
      and how we will consume them in our component.</p>
    <p>The schema is designed so all our views, list or details, can use a single method to retrieve them. The api
      responds with an array of elements.
      If our view is a list, the array will contain more than one element, otherwise just one. Each element encloses an
      object
      named <strong>displayedData</strong> that in return is an array with all the properties necessary to render our
      UI. More specific,
      these properties are <i>id, displayName and value</i>.
      <br><br>
    <p>The <strong>id</strong> will be used by the user in order to filter out fields from the UI.</p>
    <p>The <strong>displayName</strong> will be used in order to render the name of the property when necessary.</p>
    <p>The <strong>value</strong> is the attribute that will be most commonly used when we want to render our data. This
      is the attribute
      we will use in the list items and in the form elements.</p>
    <br>

    <h6 id="sample">API Sample</h6>
    <div class="highlight">
      <pre> {{apiSample | json}}     </pre>
    </div>
    <br>

  </div>

  <!-------------------------------------------------->
  <!------------------ Page 2 ------------------------>
  <!-------------------------------------------------->
  <div *ngIf="page==1">
    <div class="sample-header">List View</div>
    <app-multi backendRoute="/products" displayType="list" headerTitle="Products List" [actionAdd]=false
      [actionEdit]=true [hideDisabledActions]=false [hiddenFields]="[]"></app-multi>

      <div class="sample-header">Details View</div>
    <app-multi backendRoute="/customer/001" displayType="details" displayOption="column-2"
      headerTitle="Customer Details" [actionAdd]=false [actionEdit]=true [hideDisabledActions]=true
      [hiddenFields]="['id']">
    </app-multi>
  </div>
</div>